package {{ base_package }}

import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.boot.runApplication

@SpringBootApplication
class {{ project_name | replace('-', ' ') | replace('_', ' ') | title | replace(' ', '') }}Application

fun main(args: Array<String>) {
    runApplication<{{ project_name | replace('-', ' ') | replace('_', ' ') | title | replace(' ', '') }}Application>(*args)
}
