{
  "template": "spring-kotlin-react",
  "version": "{{ template_version }}",
  "answers": {
    "project_name": {{ project_name | tojson }},
    "project_slug": {{ project_slug | tojson }},
    "description": {{ description | tojson }},
    "ci": {{ ci | tojson }},
    "rigor": {{ rigor | tojson }},
    "gates_repo": {{ gates_repo | tojson }},
    "gates_ref": {{ gates_ref | tojson }},
    "base_package": {{ base_package | tojson }},
    "db": {{ db | tojson }}
  }
}
